.page{
  &__info{
  margin-top: 10px;
    p{
      margin-bottom: 0.5rem;
    }
    ol li{
      list-style-type: decimal;
      margin-bottom: 0.5rem;

    }
  }
}
.contacts{
  Margin: 15px;
  Width:calc(33.3333333% - 30px);
  &__item{
    width: 100%;
    &--header{
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
}

.form-group {
  input{
    display: block;
  }
  label{
    display: block;
  }
}